.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 50px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.col-centered{
  float: none !important;
  margin: 0 auto !important;
}
.buttonsDiv{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
input {
  margin: 5px;
  color: black;
}
button {
  margin: 5px;
}
.done {
  text-decoration: line-through;
}
.image {
  width: 20px;
  height: 20px;
}
.innerItem{
  display: inline;
}
.flexContainer {
  display: flex;
  position: relative;
}

.inputField {
  flex: 1;
  display: table-cell;
  width: 100%;
  border: 0;
}
.inputImage {
  position: absolute;
  right: 10px;
  top: 7px;
}